*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0px 90px;
    
}
.card-top{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card-top .car-body{
    margin: 20px;
    flex: 1;
    box-shadow: 0px 2px 8px 0px rgb(0, 0, 0, 0.2);
  
}
.card-top .car-body img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.card-top .car-body h2{
    font-size: 28px;
    color: rgb(241, 39, 39);
    margin: 15px;
        font-family: sans-serif;
}
.card-top .car-body p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    transition: 0.5s ease-in-out;
}
.car-body:hover{
transform: translateY(20px);
}
button{
    background-color: rgb(250, 9, 9)
    ;
    color: white;
    padding: 8px 10px;
    margin: 15px;
    border-radius: 8px;
    font-family: sans-serif;
}
@media screen and (max-width : 768px) {
    .card-top{
       
        flex-direction: column;
    }
}

h1{
    text-align: center;
    margin-top: 40px;
}